<?php
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

declare(strict_types=1);

use Magento\Framework\Escaper;
use Magento\Framework\View\Element\Template;
use Magento\Framework\View\Helper\SecureHtmlRenderer;
use Resursbank\Ecom\Module\Customer\Widget\GetAddress;
use Resursbank\Mapi\ViewModel\FetchAddress;

/** @var Template $block */
/** @var FetchAddress $viewModel */
/** @var Escaper $escaper */
/** @var SecureHtmlRenderer $secureRenderer */

/** @var FetchAddress $viewModel */
/** @noinspection PhpPossiblePolymorphicInvocationInspection */
$viewModel = $block?->getViewModel();

if (!$viewModel) {
    return;
}

/** @var GetAddress $widget */
$widget = $viewModel->getWidget();
?>

<?php if ($viewModel->isOldMagento()): ?>
<script>
    let RESURSBANK_GOV_ID = '';
    <?= /* @noEscape */ $widget?->js ?>
</script>
<style>
    <?= /* @noEscape */ $widget?->css ?>
</style>
<?php else: ?>
    <?php if ($widget->shouldRender()): ?>
        <?= /* @noEscape */ $secureRenderer->renderTag('style', [], $widget?->css, false); ?>
    <?php endif; ?>
    <?= /* @noEscape */ $secureRenderer->renderTag('script', [], "let RESURSBANK_GOV_ID = '';", false); ?>
    <?php if ($widget->shouldRender()): ?>
        <?= /* @noEscape */ $secureRenderer->renderTag('script', [], $widget?->js, false); ?>
    <?php endif; ?>
<?php endif; ?>

<style>
    <?= /* @noEscape */ $widget?->css ?>
    /* Initially hide rendered widget, position and display it with JS after
       DOM has finished loading. Additional CSS rules applied here to override
       CSS supplied by the widget. */
    #rb-ga-widget {
        display:none;
    }
</style>

<?= /* @noEscape */ $widget?->content ?>

