<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked()), 'hide': !isAvailable()}">
    <div class="payment-method-title field choice">
        <input
            type="radio"
            name="payment[method]"
            class="radio"
            data-bind="attr: {
            'id': getCode()
            },
            value: getCode(),
            checked: isChecked,
            click: select,
            visible: isRadioButtonVisible()">
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
        <!-- ko if: isSwishMethod -->
        <img data-bind="attr: { src: swishLogo }">
        <!-- /ko -->
        <!-- ko if: isCreditCardMethod -->
        <img
            class="resursbank-mapi-credit-card-logo"
            data-bind="attr: { src: creditCardLogo }"
        >
        <!-- /ko -->
        <!-- ko if: isResursInternalMethod -->
        <img data-bind="attr: { src: resursBankLogo }">
        <!-- /ko -->
        <!-- ko if: isTrustlyMethod -->
        <img data-bind="attr: { src: trustlyLogo }">
        <!-- /ko -->
        <br /><span class="resursbank-usp-color" data-bind="css: {'hide': getUsp() === '' || (!isResursInternalMethod() && getCode() !== isChecked())}, text: getUsp()"></span>
    </div>
    <div class="payment-method-content">
        <div class="rb-ps-cl-container" data-bind="html: getCostList()">
        </div>
        <div class="resursbank-read-more" data-bind="html: getReadMore()">
        </div>
        <div class="rb-ps-warning-container" data-bind="html: getPriceSignageWarning()">
        </div>

        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button
                    class="action primary checkout"
                    type="submit"
                    data-bind="
                    click: resursBankPlaceOrder,
                    attr: {
                        disabled: !canPlaceOrder()
                    }"
                >
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
