/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

#rb-ga-widget {
    max-width: 100% !important;
    padding: 25px 0 20px 0;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

 @media screen and (min-width: 769px) {
     #rb-ga-widget {
         max-width: 500px !important;
         border-top: 0;
         padding-top: 0;
     }
 }

.new-shipping-address-modal #rb-ga-widget {
    padding: 15px 0 15px 0 !important;
    margin-bottom: 20px;
}

.resursbank-mapi-fetch-address {
    margin: 20px 0px 15px;
}

.resursbank-mapi-fetch-address button.action {
    margin: 10px 0 0;
}

.resursbank-mapi-fetch-address .radio-list {
    margin: 0 0 10px;
}

.resursbank-mapi-fetch-address .radio-list > label {
    margin-right: 10px;
}


.rb-ga-fetch-icon-shard {
    background-color: #fff !important;
}

.rb-ga-fetch-icon {
    top: 10px !important;
    left: 30% !important;
}

.rb-ga-ssn-area,
#rb-ga-error {
    margin-top: 16px !important;
}

#rb-ga-widget {
    --rb-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    --rb-fontSize: 1.4rem !important;
}
