/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

/** Price Signage */
.rb-ps-cl-container {
    margin-top: 15px;
}

.rb-ps-warning-container {
    margin: 10px 0;
}

/*
    Targets the payment method.
*/
.payment-method.hide {
    display: none;
}

/*
    Targets the logo for payment methods.
*/
.payment-method > .payment-method-title > img {
    width: 9%;
    height: 9%;
    float: right;
}

.payment-method > .payment-method-title > img.resursbank-mapi-credit-card-logo {
    width: 4%;
    height: 4%;
}

/*
    For external payment methods we should only display USP when it's selected.
 */
.resursbank-usp-color.hide {
    display: none !important;
}

.payment-method._active .resursbank-usp-color {
    display: block;
    background-color: rgba(0, 155, 145, 0.8);
    border-radius: 4px;
    padding: 15px;
    color: #fff;
    margin: 15px 0 -20px 0;
}

.resursbank-mapi-payment-method-ssn {
    padding-top: 10px;
}

.resursbank-mapi-payment-method-ssn .input-text {
    margin-top: 10px;
}
